.main {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 480px;
    margin-left: auto;
    margin-right: auto;
    margin-top: 200px;
    font-family: 'Jet Brains Mono', sans-serif;

}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 24px;
    width: 128px;
    align-items: center;
}

.links {
    display: flex;
    flex-direction: column;
    gap: 16px;
    align-items: center;
    font-size: 16px;
    line-height: 24px;
}

.question {
    color: #8585AD;
}

.linkto {
    color: #4C4CFF;
    text-decoration: none;
}