.header {
    font-family: 'Jet Brains Mono';
    color: #F2F2F3;
    font-style: normal;
    font-weight: bold;
    font-size: 36px;
    line-height: 40px;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main {
    background: #1c1c21;
    border: 1px solid rgba(76, 76, 255, 0.2);
    box-sizing: border-box;
    border-radius: 40px;
    width: 720px;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 5;
}